$colors: (
  primary: rgb(92, 88, 90),
  secondary: #32db64,
  danger: #f53d3d,
  light: rgb(255, 255, 255),
  dark: #222,
  mainbg: #f68040,
  orangea: #cb6935,
  labelInput: #bd6231,
  greytext: #6a6a6a,
  placeholder: #6a6a6a,
  searchInput:#ccccd1,
  yellowS:#fffd05,
);
