<h2 matSubheader>Аккаунты</h2>
<mat-form-field class="search-form-field">
  <input matInput type="text" placeholder="Поиск..." [(ngModel)]="filter" (ngModelChange)="onSearch($event)">
  <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="onSearch('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-selection-list [(ngModel)]="service.selectedOptions" (ngModelChange)="dataSelection($event)">
  <mat-list-option *ngFor="let item of items" value="{{getId(item)}}">
    {{getName(item)}}
  </mat-list-option>
</mat-selection-list>





