@import '../../styles/var.scss';

.mat-subheader {
  height: 3.5rem;
  font-size: 2.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.search-form-field {
  width: 100%;
  height: 3rem;

}

mat-selection-list {
  max-height: calc(100vh - 7.5rem);
  overflow-y: auto;
  box-sizing: border-box;
  margin-top: .5rem;
  padding-bottom: .5rem;
  outline: none;
}


